* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #e0e0e0;
    opacity: 0;
    transform: translateY(-20px);
    animation: slideIn 3s forwards;
}

li:nth-child(odd) {
    background-color: #f9f9f9;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media (max-width: 600px) {
    li {
        flex-direction: row;
        justify-content: space-between;
    }

    .name {
        flex: 1;
    }

    .image {
        margin-left: 10px;
        order: 2; /* Sposta l'immagine a destra */
    }

    .points {
        flex: 1;
        text-align: right;
        order: 1; /* Mantiene il testo dei punti a sinistra */
    }
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Stili per il box staccato */
.blue-box-container {
    margin-top: 40px;
    width: 90%;
    max-width: 600px;
    margin-bottom: 40px; /* Aggiunge spazio alla fine della pagina */
}

.blue-box {
    padding: 15px;
    border: 1px solid #007BFF;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.blue-box h2 {
    margin-bottom: 10px;
    color: #007BFF;
}

.blue-box p {
    margin-bottom: 10px;
    color: #333333;
}

.blue-box strong {
    color: #007BFF;
}

.green-box-container {
    margin-top: 40px;
    width: 90%;
    max-width: 600px;
}

.green-box {
    padding: 15px;
    border: 1px solid #00ff00;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.green-box h2 {
    margin-bottom: 10px;
    color: #00ff00;
}

.green-box p {
    margin-bottom: 10px;
    color: #333333;
}

.green-box strong {
    color: #00ff00;
}