* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    width: 90%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #e0e0e0;
}

li:nth-child(odd) {
    background-color: #f9f9f9;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media (max-width: 600px) {
    li {
        flex-direction: row;
        justify-content: space-between;
    }

    .name {
        flex: 1;
    }

    .image {
        margin-left: 10px;
        order: 2; /* Sposta l'immagine a destra */
    }

    .points {
        flex: 1;
        text-align: right;
        order: 1; /* Mantiene il testo dei punti a sinistra */
    }
}
